@charset "utf-8";
/* CSS Document */
* {
	background:url("backsew.jpg") no-repeat center fixed;
	font-family: "allura", "Lucida Grande", "Lucida Sans Unicode", "cursive";
	font-size: 1.2em;
	font-display: block;
	font-variant: normal;
	font-weight: 600;
	color:rgba(254,155,244,1.00);
}
.left{
	float: left;
	border:rgba(0,0,0,1.00) medium groove 250px;
	border-radius: 25, 25, 25, 25;
	margin: 0 auto;
	width:"350px";
	
}

.right{
	float: right;
	border: rgba(0,0,0,1.00) medium groove 250px;
	border-radius: 25, 25, 25, 25;
	margin: 0 auto;
	width:"350px";	
}
#container {
	margin: 0 auto;
	width:"800px";
	}